html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #FDB95B;
}

body {
  position: relative;
  z-index: 1;
}

.font {
  font-family: "Nunito";
}

nav {
  border-bottom: 3px solid #EA8B2C;
}

.nav-background-color {
  background-color: #FDB95B !important;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  background-color: #FDB95B;
  color: black;
}

.signup-button {
  background: #FF7F00;
  border: #FF7F00;
  color: white;
  font-size: 110%;
}

.login-button {
  background: #FFEDBC;
  border: #FFEDBC;
  font-size: 110%;
}

.rotate-image {
  transform: rotate(25deg);
}

.burger span {
  height: 3px !important;
  /* thickness */
  width: 20px !important;
  /* length */
  background-color: white !important;
  /* line color */
}

.text-outline {
  text-shadow:
    -2px -2px 0 #FF7F00,
    /* Top-left shadow */
    2px -2px 0 #FF7F00,
    /* Top-right shadow */
    -2px 2px 0 #FF7F00,
    /* Bottom-left shadow */
    1px 2px 0 #FF7F00;
}

.navbar-item.is-active {
  background-color: #b68643 !important;
}

.header-color {
  background-color: #FFF2A7 !important;
}

.banner-img {
  width: 60%;
}

#headertitle {
  font-size: 2.3rem !important;
}

.normal {
  font-weight: normal !important;
}

.banner-button {
  background-color: #FF9932;
  border: 2px solid #FF7F00;
  box-shadow: 0px 5px 8px #b68643;
  border-radius: 25px;
  padding: 7% 15%;
}

.rounding-bottom {
  border-bottom-left-radius: 80% 6%;
  border-bottom-right-radius: 80% 6%;
}

.border-bottom-colored {
  border-bottom: 6px solid #EA8B2C
}

.position-border-fix {
  position: relative;
  top: -5%;
  z-index: -1;
  padding-top: 17%;
}

.section1-bg {
  background-color: #FFFADF;
}

.section1-title {
  font-size: 150%;
  font-style: italic;
}

.title-deco {
  text-decoration: underline;
}

.section-sub-color {
  color: #FF9932;
}

#gamesection {
  background: white !important;
}

.games-header {
  background-color: #FF7F00;
  color: white;
  border-radius: 8px;
}

.game-position-fix {
  position: relative;
  top: -7%;
  z-index: -2;
}

.game-card {
  background: #ffbd76;
  border-radius: 15px;
}

.game-card-img {
  width: 90%;
  margin: 0 auto;
  /* keeps it centered */
  border-radius: 15px;
}

.leaderboard-card {
  background: #FEF5E9;
  border: 2px solid #FF7F00;
  border-radius: 15px;
}

.position-fix {
  position: relative;
  top: -10.5%;
  z-index: -3;
}

.custom-padding {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

#caall-to-action {
  background-color: white;
}

.footer-bg {
  background: #FDB95B;
}

.footer-position-fix {
  position: relative;
  top: -12%;
  z-index: -2;
}

.rounding-top {
  border-top-left-radius: 80% 15%;
  border-top-right-radius: 80% 15%;
}

#call-to-action {
  background: white !important;
}





.homepage-border-bottom-colored {
  border-bottom: 10px solid #FF7F00
}

.loginpage-main-section {
  background-color: #FFEDBC;
}

.loginpage-box-bgcolor {
  background-color: #FDB95B;
}

.level {
  background-color: #FDB95B;
}

.progress-bar::-webkit-progress-value {
  background-color: #FF7F00;
}

.progress-bar::-moz-progress-bar {
  background-color: #FF7F00;
}

.progress-bar::-ms-fill {
  background-color: #FF7F00;
}

.media+.media {
  border-top: 3px solid rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  padding-top: 1rem;
}

.games-header-login {
  background-color: #FF7F00;
  color: white;
  border-radius: 8px;
}

.game-card-login {
  background: #ffbd76;
  border-radius: 15px;
}

.navbar-item img {
  max-height: 2.75rem;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    position: absolute;
    left: auto;
    right: 1%;
    background: #fdb95b;
    box-shadow: #997203 1px 1px 5px 1px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    border-bottom: none;
  }

  .hero-body {
    flex-direction: row-reverse !important;
    padding-left: 5% !important;
  }

  .hero-img {
    width: 40%;
    text-align: left !important;
  }

  .banner-img {
    width: 65%;
    margin-left: 8%;
  }

  .hero-text {
    width: 60%;
  }

  #headertitle {
    font-size: 350% !important;
  }

  .header-subtext {
    width: 90%;
    font-size: 230% !important;
  }

  .hero-action {
    font-size: 220% !important;
  }

  .banner-button {
    margin-top: 3%;
    border-radius: 15px;
    padding: 1% 8%;
    font-size: 230% !important;
  }

  .border-bottom-colored {
    border-bottom: 10px solid #EA8B2C;
  }

  #section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9%;
    padding-bottom: 6%;
    top: -4%;
  }

  .section1-font {
    font-size: 190% !important;
  }

  .section1-text {
    width: 60%;
    text-align: left;
    padding-right: 10%;
  }

  .title-text {
    width: 120%;
    font-size: 260% !important;
  }

  .section-img {
    display: inline-block !important;
  }

  .games-header {
    width: 100%;
    font-size: 380% !important;
    padding: 0.75% !important;
    border-radius: 25px;
  }

  #games-subtitle {
    font-size: 170%;
    font-weight: bold;
  }

  .games-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center
  }

  .game-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 0% !important;
    width: 80%
  }

  .reverse {
    flex-direction: row !important;
  }

  .align {
    display: flex;
    justify-content: center;
  }

  .game-img-container {
    width: 50%;
    padding: 2%;
  }

  .game-card-img {
    width: 100%;
  }

  .game-card-text {
    width: 90%;
  }

  .ldrboard-header {
    font-size: 260% !important;
  }

  .ldrboard-header-highlight {
    display: inline !important;
    font-size: 110% !important;
  }

  .ldrboard-sub {
    font-size: 145%;
    font-weight: bold !important;
  }

  .ldrboard-sub-highlight {
    font-size: 100% !important;
  }

  .ldrboard-container {
    display: flex;
  }

  .leaderboard-card {
    background: #FEF5E9;
    border: 2px solid #FF7F00;
    border-radius: 15px;
    width: 40%;
    margin: 0% 5% 0% 5%;
  }

  .card-2 {
    display: block !important;
  }

  .callaction {
    font-size: 45px !important;
    margin-top: 1%;
  }




  #headertitlelogin {
    font-size: 400% !important;
  }

  .hero-text-login {
    width: 50%;
  }

  .header-subtext-login {
    width: 90%;
    font-size: 230% !important;
    color: #fe7300 !important;
  }

  .banner-img-login {
    width: 70%;
    margin-left: 8%;
  }

  .games-header-login {
    margin-top: 6% !important;
    width: 50%;
    font-size: 350% !important;
    padding: 0.75% !important;
    border-radius: 25px;
  }

  .game-card-login {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 0% !important;
    width: 60%
  }

  .hero-login {
    width: 95% !important;
  }

}

@media screen and (min-width: 1260px) {}